.priscira

**/.idea/
**/.theia/

Rust/target/
Rust/Cargo.lock

**/.venv/
**/.pdm-python
**/pdm.lock
**/.python-version
**/.py[cod]
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/*.egg-info/

Nim/nimcache/
Nim/testresults/
Nim/tests/*
!Nim/tests/*.nim
